*{
	box-sizing:border-box;
	font-family: helvetica;
}
body{
	margin: 0;
	background: #aac689;
}
#titulo{
	width: 100%;
	padding: 15px;
	background: #1e4147;
	color: white;
	font-weight: bold;
	font-size: 120%;
	vertical-align: middle;
	text-shadow:3px 3px 0 rgba(0,0,0,0.3);
	box-shadow:0px 3px 0 rgba(0,0,0,0.3);

}
#logo{
	vertical-align: middle;
}

#reproductor, #lista{
	float:left;
	height: 100%;
}
#reproductor{
	width: 70%;
	padding: 15px;
}

#player, #info{
	width: 100%;
}

#player{
	height: 100%;
	background: black;
	margin: 0 0 15px 0;
	box-shadow:3px 3px 0 rgba(0,0,0,0.3);

}
#player #imageContainer{
	height: 90%;
}
#player img{
	width: 50%;
	margin-left: 25%;
	margin-top: 20px;
}
#player audio{
	padding: 0;
	width: 100%;
}

#info{
	background: #427357;
	padding: 5px 15px;
	border: 3px solid #1e4147;
	box-shadow:3px 3px 0 rgba(0,0,0,0.3);

}
#info ul{
	list-style: none;
	margin-left: 0px;
}

#info ul li{
	margin-bottom: 10px;
}
#info ul li .label{
	font-weight: bold;
}

#info ul li .contenido{
	margin-left: 15px;
}

#lista{
	margin-top: 15px;
	width: 30%;
	box-shadow:3px 3px 0 rgba(0,0,0,0.3);
	display: inline-block;
}
#lista .song{
	background: #427357;
	padding: 10px;
	width: 100%;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	border: 1px solid #1e4147;
}
#lista .song:hover{
	background: #fae4b5;
	font-weight: bold;
	cursor: pointer;
}
.sectionTitle{
	width: 100%;
	padding: 5px 15px;
	text-align: center;
	font-weight: bold;
	font-size: 110%;
	background: #1e4147;
	color: white;
	text-shadow:3px 3px 0 rgba(0,0,0,0.3);
}

@media screen and (max-width: 700px){
	#lista{
		width: 90%;
		margin-left: 5%;
	}
	#titulo{
		text-align: center;
	}

	#reproductor{
		display: inline-block;
	}
	.sectionTitle{
		font-size: 90%;
	}
	#info{
		padding: 0;
		margin: 0px;
		height: 100px;
		font-size: 12px;

	}
	#info ul li{
		margin-bottom:0;
	}
	#info ul{
		list-style: none;
		margin-left: -20px;
		margin-top:5px;
	}
	#reproductor{
		width: 100%;
	}
}








