body{

  background: lightgrey;
  /*background-image: url("ps.png");*/
  position: center ;
  background-repeat: no-repeat;
  background-size: 100%;
  
  
  height: 100px;
  padding-left: 0.6em;


}
#contenedor, #uno, #dos{
  width: 80%;
  background: lightblue;


}


#uno{
  width: 100% ;

  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 150%;
  background:#B8B8B8;
  color: white;
}
#dos{
  width: 50% ;
  margin-top: 10px;

  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 150%;
  background:#B8B8B8;
  color: white;
}
img{
  margin-top: 10px;
  width: 30%;

}



