

body{

  background: lightblue;
  background-position: top left; 

  /*background-attachment:fixed; para que el ondo no se resolucion*/
  background-size: 1230px;



}


#uno{
  width: 1230px ;
  padding: 5px 15px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 150%;
  background:#B8B8B8;
  color: white;
}
#dos{
 width: 500px ;
 margin-top: 10px;
 padding: 5px 15px;
 text-align: center;
 vertical-align: middle;
 font-weight: bold;
 font-size: 150%;
 background:#B8B8B8;
 color: white;
}
img{
  width: 300px;
  padding: 5px 15px;
  cursor: pointer;
}